@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Superhero Information Page</h1>
    <p>Create, Delete, Edit, and View information on your favorite Superheroes</p>
    <img class ="Superman" src="images/superman.jpg" alt="Superman" width="900"/>
    </div>